
<!DOCTYPE html>
<html>
<head><title>Start Dice and Detention</title></head>
<body>
    <h1>Welcome to Dice and Detention!</h1>
    <form method="post" action="/start">
        Number of Players (2-4): <input type="number" name="num_players" min="2" max="4"><br>
        Player 1 Name: <input type="text" name="player1"><br>
        Player 2 Name: <input type="text" name="player2"><br>
        Player 3 Name: <input type="text" name="player3"><br>
        Player 4 Name: <input type="text" name="player4"><br>
        <button type="submit">Start Game</button>
    </form>
</body>
</html>
